[submodule "apps/projectGenerator"]
	path = apps/projectGenerator
	url = https://github.com/openframeworks/projectGenerator.git
[submodule "scripts/apothecary"]
	path = scripts/apothecary
	url = https://github.com/openframeworks/apothecary
[submodule "apps/devApps/oF_sandbox"]
	path = apps/devApps/oF_sandbox
	url = https://github.com/mitsuhito/oF_sandbox
